In [11]:
import pandas as pd

lap_df = pd.read_csv("focus_stacking_testing/lap.csv")
stack_lap_df = pd.read_csv("focus_stacking_testing/stacked_lap.csv")

In [14]:
lap_df = lap_df.T
lap_df = lap_df.drop(lap_df.index[0])
lap_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
center_sm_05,2087.683589,1821.004567,1302.244746,58564.192261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_10,1055.040900,1847.944922,1734.316439,46965.684905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_15,1165.760296,1646.608416,1101.831029,36310.920129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_20,1053.997027,1781.386336,1065.059485,25768.206231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_25,967.694733,1524.543564,941.945109,22761.895039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_lg_05,2017.709619,2031.622436,2074.111816,2118.957330,2216.024006,2342.694728,2551.808349,2962.675638,3170.943080,3635.395447,3688.149241,3445.833257,3024.638317,2708.928001,2498.299836,107203.638873
edge_lg_15,2017.169802,2135.776642,2485.738572,3858.874878,2880.905252,2360.710241,58096.622089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_lg_25,2009.430344,2415.412579,3341.447954,2347.820314,43389.729937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_05,1446.343131,1476.678320,1511.226077,1557.573476,1612.860659,1750.237121,1955.332400,2171.634323,2268.042234,2143.722392,2230.283765,1878.804467,1771.783230,1725.215883,66617.933881,NaN
edge_sm_10,1570.759040,1649.919890,1998.527803,2315.019425,2040.797503,1755.984092,1631.485704,87218.273396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_15,1461.398735,1427.129519,1514.654216,1787.360735,2356.437954,1909.264705,1611.987050,74400.634429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_20,1455.122041,1457.983770,1651.052149,2299.803663,1753.222354,1451.943019,68384.295015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_25,1445.700119,1492.051804,1868.441820,1758.767880,1447.765986,67043.639792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
lap_df.round(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
center_sm_05,2087.7,1821.0,1302.2,58564.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_10,1055.0,1847.9,1734.3,46965.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_15,1165.8,1646.6,1101.8,36310.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_20,1054.0,1781.4,1065.1,25768.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_25,967.7,1524.5,941.9,22761.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_lg_05,2017.7,2031.6,2074.1,2119.0,2216.0,2342.7,2551.8,2962.7,3170.9,3635.4,3688.1,3445.8,3024.6,2708.9,2498.3,107203.6
edge_lg_15,2017.2,2135.8,2485.7,3858.9,2880.9,2360.7,58096.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_lg_25,2009.4,2415.4,3341.4,2347.8,43389.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_05,1446.3,1476.7,1511.2,1557.6,1612.9,1750.2,1955.3,2171.6,2268.0,2143.7,2230.3,1878.8,1771.8,1725.2,66617.9,NaN
edge_sm_10,1570.8,1649.9,1998.5,2315.0,2040.8,1756.0,1631.5,87218.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_15,1461.4,1427.1,1514.7,1787.4,2356.4,1909.3,1612.0,74400.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_20,1455.1,1458.0,1651.1,2299.8,1753.2,1451.9,68384.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_25,1445.7,1492.1,1868.4,1758.8,1447.8,67043.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
stack_lap_df = stack_lap_df.T
#stack_lap_df = stack_lap_df.drop(stack_lap_df.index[0])
stack_lap_df

,1,2,3,4,5,6,7,8,9,10,11,12
center_sm_05,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823,59654.288823
center_sm_10,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337,47386.322337
center_sm_15,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715,38533.867715
center_sm_20,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597,30537.024597
center_sm_25,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107,25240.778107
edge_lg_05,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125,111916.247125
edge_lg_15,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515,64898.038515
edge_lg_25,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828,45646.328828
edge_sm_05,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628,68589.045628
edge_sm_10,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772,91660.933772
edge_sm_15,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257,88837.69257
edge_sm_20,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499,78138.912499
edge_sm_25,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731,75587.576731

In [33]:
display(stack_lap_df.round(1)[1])
lap_df.round(1)

center_sm_05     59654.288823
center_sm_10     47386.322337
center_sm_15     38533.867715
center_sm_20     30537.024597
center_sm_25     25240.778107
edge_lg_05      111916.247125
edge_lg_15       64898.038515
edge_lg_25       45646.328828
edge_sm_05       68589.045628
edge_sm_10       91660.933772
edge_sm_15        88837.69257
edge_sm_20       78138.912499
edge_sm_25       75587.576731
Name: 1, dtype: object

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
center_sm_05,2087.7,1821.0,1302.2,58564.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_10,1055.0,1847.9,1734.3,46965.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_15,1165.8,1646.6,1101.8,36310.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_20,1054.0,1781.4,1065.1,25768.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
center_sm_25,967.7,1524.5,941.9,22761.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_lg_05,2017.7,2031.6,2074.1,2119.0,2216.0,2342.7,2551.8,2962.7,3170.9,3635.4,3688.1,3445.8,3024.6,2708.9,2498.3,107203.6
edge_lg_15,2017.2,2135.8,2485.7,3858.9,2880.9,2360.7,58096.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_lg_25,2009.4,2415.4,3341.4,2347.8,43389.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_05,1446.3,1476.7,1511.2,1557.6,1612.9,1750.2,1955.3,2171.6,2268.0,2143.7,2230.3,1878.8,1771.8,1725.2,66617.9,NaN
edge_sm_10,1570.8,1649.9,1998.5,2315.0,2040.8,1756.0,1631.5,87218.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_15,1461.4,1427.1,1514.7,1787.4,2356.4,1909.3,1612.0,74400.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_20,1455.1,1458.0,1651.1,2299.8,1753.2,1451.9,68384.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edge_sm_25,1445.7,1492.1,1868.4,1758.8,1447.8,67043.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
lap_df.T.mean()

center_sm_05    15943.781291
center_sm_10    12900.746792
center_sm_15    10056.279967
center_sm_20     7417.162270
center_sm_25     6549.019611
edge_lg_05       9230.714373
edge_lg_15      10547.971068
edge_lg_25      10700.768226
edge_sm_05       6141.178091
edge_sm_10      12522.595857
edge_sm_15      10808.608418
edge_sm_20      11207.631716
edge_sm_25      12509.394567
dtype: float64